In [109]:
import pandas as pd
import numpy as np
file='epl-goalScorer(20-21).csv'
isifile=pd.read_csv(file)

In [110]:
isifile.head

<bound method NDFrame.head of      Unnamed: 0    id             player_name  games  time  goals         xG  \
0             0   647              Harry Kane     35  3097     23  22.174859
1             1  1250           Mohamed Salah     37  3085     22  20.250847
2             2  1228         Bruno Fernandes     37  3117     18  16.019454
3             3   453           Son Heung-Min     37  3139     17  11.023287
4             4   822         Patrick Bamford     38  3085     17  18.401863
..          ...   ...                     ...    ...   ...    ...        ...
517         517  9415  Jaden Philogene-Bidace      1     1      0   0.000000
518         518  9423         Gaetano Berardi      2   113      0   0.074761
519         519  9524          Anthony Elanga      1    67      0   0.000000
520         520  9540             Femi Seriki      1     1      0   0.000000
521         521  9552         Tyrese Francois      1    13      0   0.000000

     assists         xA  shots  key_passes  yellow_cards  red_cards position  \
0         14   7.577094    138          49             1          0        F
1          5   6.528526    126          55             0          0    F M S
2         12  11.474996    121          95             6          0      M S
3         10   9.512992     68          75             0          0    F M S
4          7   3.782247    107          30             3          0      F S
..       ...        ...    ...         ...           ...        ...      ...
517        0   0.000000      0           0             0          0        S
518        0   0.000000      1           0             0          0      D S
519        0   0.000000      0           0             0          0        M
520        0   0.000000      0           0             0          0        S
521        0   0.000000      0           0             0          0        S

            team_title  npg       npxG    xGChain  xGBuildup
0            Tottenham   19  19.130183  24.995648   4.451257
1            Liverpool   16  15.683834  28.968234   9.800236
2    Manchester United    9   8.407840  26.911412  11.932285
3            Tottenham   16  10.262118  20.671916   6.608751
4                Leeds   15  16.879525  23.394953   4.131796
..                 ...  ...        ...        ...        ...
517        Aston Villa    0   0.000000   0.056044   0.056044
518              Leeds    0   0.074761   0.231278   0.231278
519  Manchester United    0   0.000000   0.000000   0.000000
520   Sheffield United    0   0.000000   0.000000   0.000000
521             Fulham    0   0.000000   0.000000   0.000000

[522 rows x 19 columns]>

In [111]:
print(isifile.dtypes)

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object

In [112]:
import pandas as pd
import numpy as np
file='epl-goalScorer(20-21).csv'
isifile=pd.read_csv(file)
df_noid=isifile.iloc[:,2:]

In [113]:
q1=df_noid['goals'].quantile(0.25)
q3=df_noid['goals'].quantile(0.75)
iqr=q3-q1
iqr
df_noid['goals']

0      23
1      22
2      18
3      17
4      17
       ..
517     0
518     0
519     0
520     0
521     0
Name: goals, Length: 522, dtype: int64

Tugas no 1

In [114]:
iso=(df_noid['goals']<q1-1.5*iqr)|(df_noid['goals']>q3+1.5*iqr)
iseo=(df_noid['goals']<q1-3*iqr)|(df_noid['goals']<q3+3*iqr)
df1=df_noid[['player_name','goals']]
df1.iloc[:, :11].head(11)

              player_name  goals
0              Harry Kane     23
1           Mohamed Salah     22
2         Bruno Fernandes     18
3           Son Heung-Min     17
4         Patrick Bamford     17
5   Dominic Calvert-Lewin     16
6             Jamie Vardy     15
7           Ollie Watkins     14
8          Ilkay Gündogan     13
9     Alexandre Lacazette     13
10          Callum Wilson     12

Tugas no 2

In [115]:
q1 = df_noid['time'].quantile(0.25)
q3 = df_noid['time'].quantile(0.75)
iqr = q3 - q1

iso = (df_noid['time'] < q1 - 1.5 * iqr) | (df_noid['time'] > q3 + 1.5 * iqr)
iseo = (df_noid['time'] < q1 - 3 * iqr) | (df_noid['time'] < q3 + 3 * iqr)

df3 = df_noid[['player_name', 'time']]

df3_sorted = df3.sort_values(by='time', ascending=False)
print(df3_sorted.head(11))

               player_name  time
296            Hugo Lloris  3420
378      Emiliano Martinez  3420
311      Kasper Schmeichel  3420
110  Pierre-Emile Højbjerg  3420
40           Stuart Dallas  3412
327           Matt Targett  3407
480            Luke Ayling  3400
204       Andrew Robertson  3391
55         Youri Tielemans  3359
7            Ollie Watkins  3330
390         Aaron Ramsdale  3330

Tugas no 3

In [116]:
q1 = df_noid['assists'].quantile(0.25)
q3 = df_noid['assists'].quantile(0.75)
iqr = q3 - q1

iso = (df_noid['assists'] < q1 - 1.5 * iqr) | (df_noid['assists'] > q3 + 1.5 * iqr)
iseo = (df_noid['assists'] < q1 - 3 * iqr) | (df_noid['assists'] < q3 + 3 * iqr)

df3 = df_noid[['player_name', 'assists']]

df3_sorted = df3.sort_values(by='assists', ascending=False)
print(df3_sorted.head(11))

         player_name  assists
0         Harry Kane       14
2    Bruno Fernandes       12
58   Kevin De Bruyne       11
3      Son Heung-Min       10
51     Jack Grealish       10
15   Marcus Rashford        9
6        Jamie Vardy        9
57          Raphinha        9
49       Timo Werner        8
281  Aaron Cresswell        8
83       Pascal Groß        8

Tugas no 4

In [124]:
df_manchester_City = df_noid[df_noid['team_title'] == 'Manchester City']
df_manchester_City_sorted = df_manchester_City.sort_values(by='goals', ascending=False)
print(df_manchester_City_sorted[['player_name', 'goals']].head(4))

        player_name  goals
8    Ilkay Gündogan     13
22  Raheem Sterling     10
28     Riyad Mahrez      9
35    Gabriel Jesus      8

Tugas no 5

In [118]:
df_goals_by_team = df_noid.groupby('team_title')['goals'].sum()

df_goals_by_team_sorted = df_goals_by_team.sort_values(ascending=False)

print(df_goals_by_team_sorted.head(1))

team_title
Manchester City    77
Name: goals, dtype: int64

Tugas no 6

In [119]:
q1 = df_noid['assists'].quantile(0.25)
q3 = df_noid['assists'].quantile(0.75)
iqr = q3 - q1

iso = (df_noid['assists'] < q1 - 1.5 * iqr) | (df_noid['assists'] > q3 + 1.5 * iqr)
iseo = (df_noid['assists'] < q1 - 3 * iqr) | (df_noid['assists'] < q3 + 3 * iqr)

df3 = df_noid[['player_name', 'assists']]
df3['red_cards'] = df_noid['red_cards']
df3['yellow_cards'] = df_noid['yellow_cards']
df3_sorted = df3.sort_values(by='assists', ascending=False)
print(df3_sorted.head(11))

         player_name  assists  red_cards  yellow_cards
0         Harry Kane       14          0             1
2    Bruno Fernandes       12          0             6
58   Kevin De Bruyne       11          0             1
3      Son Heung-Min       10          0             0
51     Jack Grealish       10          0             5
15   Marcus Rashford        9          0             4
6        Jamie Vardy        9          0             1
57          Raphinha        9          0             3
49       Timo Werner        8          0             2
281  Aaron Cresswell        8          0             3
83       Pascal Groß        8          0             3

C:\Users\ASUS\AppData\Local\Temp\ipykernel_2512\4208434503.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['red_cards'] = df_noid['red_cards']
C:\Users\ASUS\AppData\Local\Temp\ipykernel_2512\4208434503.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['yellow_cards'] = df_noid['yellow_cards']

Tugas no 7

In [120]:
df_player_stats = df_noid.groupby('player_name').agg({'goals': 'sum', 'assists': 'sum', 'team_title': 'first'})
df_player_stats_sorted = df_player_stats.sort_values(by=['goals', 'assists'], ascending=False)
most_goals_and_assists_player = df_player_stats_sorted.head(1)
print(most_goals_and_assists_player[['goals', 'assists', 'team_title']])

             goals  assists team_title
player_name
Harry Kane      23       14  Tottenham

Tugas no 8

In [121]:
team_goals = df_noid.groupby('team_title')['goals'].sum()
team_goals_sorted = team_goals.sort_values(ascending=False)
top_5_teams_by_goals = team_goals_sorted.head(5)
print(top_5_teams_by_goals)

team_title
Manchester City      77
Manchester United    68
Tottenham            66
Liverpool            64
Leicester            64
Name: goals, dtype: int64

Tugas no 9

In [122]:
df_filtered = df_noid[(df_noid['yellow_cards'] == 0) & (df_noid['red_cards'] == 0)]
df_sorted = df_filtered.sort_values(by='goals', ascending=False)
print(df_sorted[['player_name', 'goals']].head())

      player_name  goals
1   Mohamed Salah     22
3   Son Heung-Min     17
13     Chris Wood     12
28   Riyad Mahrez      9
29  Harvey Barnes      9